<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>View#2</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">

</head>
<body>
    <h1>View#2</h2>
    <%include menu.ejs %>
</body>
</html>